# Environment variables 
api/.env

# Dependency directories
*/node_modules

# Test data
*.csv

# Terraform testing files
api/.terraform.lock.hcl
api/.terraform/providers/registry.terraform.io/hashicorp/*